// tags 
// aqyS14C6
// aqyS13C9
// aqyS14C10
// aqyS13C13
// aqyS14C141
// aqyS14C142
// azli-C4
// azli-C9
// azli-C12
// Parameters for nextflow script aptaflow.nf
params {

    // Provide a selex name for the output directory
    selex_name = "leonard"

    // provide rounds in sorted order
    //rounds=["aqyS14C6","aqyS13C9","aqyS14C10","aqyS13C13","aqyS14C141","aqyS14C142","azli-C4","azli-C9","azli-C12"]
    //rounds=["azli-C4","azli-C9","azli-C12"]
    rounds=["aqyS13C9","aqyS13C13"]
    // random region length
    //n=40
    n=40

    // I/O
    input {
        raw_reads = 'data/*{R1,R2}_001.fastq'
        fwd_suffix="_L001_R1_001.fastq"
        rev_suffix="_L001_R2_001.fastq"
        round_delimiter = "_" // Will be cleaved e.g. R0_XYZ.fastq -> R0
    }
    output {
        out_dir = 'selex_13'
    }

    // System Specs
    specs {
        cpus = 32
    }

    // Primers
    // f-GCT GCG TCG TCT AAT ACG ACT CAC TAT AGG GAT GCG
    // R-CA TCC GTC AAC GCA TCG CCG GCA C

    primers {
        p5_f='GCTGCGTCGTCTAATACGACTCACTATAGGGATGCG'
        p5_r='CATCCGTCAACGCATCGCCGGCAC'
    }

    // Trimming
    // since we are dealing with different length fw and rev primers we need to create a window
    // that will include both the trimmed length from the forward reads (64) and the reverse reads (76)
    // based on 100nt reads, otherwise, rewrite the workflow to do the trimming for the fw and rev reads
    // separately . The primer_length param remains unused
    // N is the 'random' sequence length

    cutadapt {
        action = "trim"
	minlength = 63
	maxlength = 77
        max_error = 0.2
        check_primer_contamination = false
        primer_contamination {
            max_error = 0.1
            min_overlap = 10
        }
        N = 40
        primer_length = 24
        max_deviation = 5
    }

    // Filtering and Merging
    fastp {
        //filter_min_phred = 30
        filter_min_phred = 25    
    }
    
    // ViennaRNA (Currently not activated)
    vienna_rna {
	T=21
	mathews2004="VIENNA_RNA/misc/dna_mathews2004.par"
        for_top=10 // percent [0.00 - 100.00] of every round
    }
}
